body{
    background-color: blueviolet;
}
h1{
    color: rgb(67, 20, 20);
    text-shadow: 10px 10px 10px #000;
    margin: 40px;
}
h2{
    color: brown;
    text-shadow: 10px 10px 10px #000;
    margin: 40px;
}
p{
    color: rgb(43, 5, 5);
    text-shadow: 10px 10px 10px #000;
    margin: 40px;
}
li{
    text-shadow: 10px 10px 10px #000;
    margin: 40px;
    color: chartreuse;
}